Options +FollowSymLinks -MultiViews
RewriteEngine on

#Rutas
RewriteRule ^auth$ app/AuthController.php
RewriteRule ^user$ app/UserController.php
RewriteRule ^client$ app/ClientController.php
RewriteRule ^address$ app/AddressController.php
RewriteRule ^product$ app/ProductController.php

#Auth
RewriteRule ^$ views/auth/login.php
RewriteRule ^me$ views/users/profile.php

#Usuarios
RewriteRule ^users/$ views/users/index.php
RewriteRule ^users/(.+)$ views/users/details.php?id=$1

#Clientes
RewriteRule ^clients/$ views/clients/index.php
RewriteRule ^clients/(.+)$ views/clients/details.php?id=$1

#Productos 
RewriteRule ^products/$ views/products/index.php
RewriteRule ^products/(.+)$ views/products/details.php?slug=$1

#Categorias
RewriteRule ^categories/$ views/categories/index.php
#RewriteRule ^categories/(.+)$ views/categories/details.php?categorie=$1

#Brands
RewriteRule ^brands/$ views/brands/index.php
#RewriteRule ^brands/(.+)$ views/brands/details.php?brand=$1

#Tags
RewriteRule ^tags/$ views/tags/index.php

#Coupons
RewriteRule ^coupons/$ views/coupons/index.php
RewriteRule ^coupons/(.+)$ views/coupons/details.php?coupon=$1

#Presentacion
RewriteRule ^presentation$ app/ProductController.php